*{
    border: 1px solid red;
}

body{
    display: flex;
    flex-direction: column;
}

.header, 
.hero,
.footer{
    background-color: #1f2937;
    color: #f9faf8;   
    display: flex; 
}

.header{
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    font-size: 24px;
    font-family: Impact, "Franklin Gothic Medium", Gautami;
    margin-left: 300px;
}

ul{
    margin-right: 300px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

li{
    list-style: none;
}

a{
    color: #f9faf8;
    text-decoration: none;
}

.hero{
    padding: 86px 300px;
    justify-content: center;
}

.hero-left{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    gap: 16px;
    height: 400px;
    width: 600px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    min-height: 0;
}

.hero-text{
    font-size: 20px;
    min-height: 0;
}

.hero-img{
    height: 400px;
    width: 600px;
    flex: 1 0 0;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    color: #f9faf8;
    font-size: 20px;
}