*{
    border: 1px solid red;
}


body{
    display: flex;
    flex-direction: column;
}

.header, 
.hero,
.footer{
    background-color: #1f2937;
    color: #f9faf8;   
    display: flex; 
}

.logo{
    font-size: 24px;
}

button{
    background-color: #3882f6;
}