{
    border: 1px solid red;
}

body{
    display: flex;
    flex-direction: column;
}

.header, 
.hero,
.footer{
    background-color: #1f2937;
    color: #f9faf8;   
    display: flex; 
}

.header{
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    font-size: 24px;
    font-family: Impact, "Franklin Gothic Medium", Gautami;
    margin-left: 300px;
}

ul{
    margin-right: 300px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

li{
    list-style: none;
}

a{
    color: #f9faf8;
    text-decoration: none;
}

.hero{
    padding: 86px 300px;
    justify-content: center;
}

.hero-left{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    gap: 16px;
    height: 400px;
    width: 600px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    min-height: 0;
}

.hero-text{
    font-size: 20px;
    min-height: 0;
}

.hero-img{
    height: 400px;
    width: 600px;
    flex: 1 0 0;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    color: #f9faf8;
    font-size: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}

.content-info{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 48px;
}

.content-contain{
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 86px;
}

.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

.w3-round{
    height: 200px;
    border-radius: 8px;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 86px 300px;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quoter{
    font-size: 24px;
    font-weight: bolder;
    text-align: end;
}

.action{
    margin: 86px 300px;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    color: #f9faf8;
    align-items: center;
    justify-content: space-around;
}

.action-container{
    display: flex;
    flex-direction: column;
    margin: 43px;
}

.action-title{
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
}

.action-info{
    margin: 0;
}

.action-button{
    border-color: #f9faf8;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}